name: Deploy process on runner

on:
  workflow_dispatch:   
    inputs:
      environment:
        description: 'Select the environment'
        required: true
        default: 'develop'
        type: choice
        options:
          - staging
          - develop
          - testing

jobs:
  trigger-backend:
    runs-on: ubuntu-latest
    environment: ${{ github.event.inputs.environment }}
    steps:
      - name: Verificar secrets del environment
        run: |
          echo "COSMIC_API_URL=${{ secrets.COSMIC_API_URL }}"
          echo "DB_HOST=${{ secrets.DB_HOST }}"
          echo "KEYCLOAK_URL=${{ secrets.KEYCLOAK_URL }}"
          echo "KEYCLOAK_CLIENT_ID=${{ secrets.KEYCLOAK_CLIENT_ID }}"
          echo "ENVIRONMENT_TAG=${{ secrets.ENVIRONMENT_TAG }}"

      - name: Trigger workflow en BE
        uses: peter-evans/workflow-dispatch@v1
        with:
          token: ${{ secrets.PAT_TOKEN }}
          repository: JU-DEV-Bootcamps/ERAS-BE
          workflow: RW-test-package-BE-Runner.yml
          ref: main
          inputs:
            branch: develop
            cosmic_api_url: ${{ secrets.COSMIC_API_URL }}
            db_host: ${{ secrets.DB_HOST }}
            keycloak_url: ${{ secrets.KEYCLOAK_URL }}
            keycloak_client_id: ${{ secrets.KEYCLOAK_CLIENT_ID }}
            environment_tag: ${{ secrets.ENVIRONMENT_TAG }}
            
  prepare-and-dispatch:
    runs-on: self-hosted
    outputs:
      versions: ${{ steps.combine.outputs.versions }}

    steps:
      - name: Open the BE JSON
        run: |
          cp /home/ubuntu/Eras_versions/eras-be-tag.zip ./eras-be-tag.zip
          unzip eras-be-tag.zip

      - name: Open the FE JSON
        run: |
          cp /home/ubuntu/Eras_versions/eras-fe-tag.zip ./eras-fe-tag.zip
          unzip eras-fe-tag.zip

      - name: Combine tags into versions.json
        id: combine
        run: |
          BE_TAG=$(jq -r '.["ERAS-BE"]' be_tag.json)
          FE_TAG=$(jq -r '.["ERAS-FE"]' fe_tag.json)
          echo "{\"ERAS-FE\": \"$FE_TAG\", \"ERAS-BE\": \"$BE_TAG\"}" > versions.json
          echo "versions=$(cat versions.json)" >> $GITHUB_OUTPUT

  submodule-commits:
    runs-on: self-hosted
    needs: prepare-and-dispatch
    outputs:
      submodule_shas: ${{ steps.extract-shas.outputs.submodule_shas }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: false

      - name: Extract Submodule SHAs
        id: extract-shas
        run: |
          git config --file .gitmodules --get-regexp path | awk '{ print $2 }' > submodules.txt
          SUBMODULE_SHAS_JSON="{"
          while IFS= read -r submodule; do
            FULL_COMMIT=$(git ls-tree HEAD $submodule | awk '{print $3}')
            SHORT_COMMIT=$(echo $FULL_COMMIT | cut -c1-7)
            SUBMODULE_SHAS_JSON+="\"$submodule\": \"$SHORT_COMMIT\","
          done < submodules.txt
          SUBMODULE_SHAS_JSON="${SUBMODULE_SHAS_JSON%,}}"
          echo "submodule_shas=$SUBMODULE_SHAS_JSON" >> $GITHUB_OUTPUT

  deploy:
    runs-on: self-hosted
    needs: [prepare-and-dispatch, submodule-commits]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup SSH Key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.ERAS_LOCAL_ENV_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H "${{ vars.ERAS_LOCAL_ENV }}" >> ~/.ssh/known_hosts

      - name: Connect and Run Commands
        run: |
          ssh -i ~/.ssh/id_rsa ubuntu@${{ vars.ERAS_LOCAL_ENV }} << 'EOF'
            mkdir -p ~/deploy
            echo '${{ needs.prepare-and-dispatch.outputs.versions }}' > ~/deploy/versions.json
            echo '${{ needs.submodule-commits.outputs.submodule_shas }}' > ~/deploy/submodules.json
            bash ~/deploy/setVersions.sh
            bash ~/deploy/containers.sh
          EOF
